mixin header
    .header
        .header__container
            .header__left
                img(src="../assets/images/header/min-pros.png", alt="Логиотип")
                img(src="../assets/images/header/orl.png", alt="Логиотип")
                img(src="../assets/images/header/rdc.png", alt="Логиотип")
                img(src="../assets/images/header/per.png", alt="Логиотип")
                img(src="../assets/images/header/orlyata.png", alt="Логиотип")
            .header__right
                img(src="../assets/images/header/year.png", alt="Логиотип")
